<footer class="footer">
    <nav  class="boxed flex flex-col md:flex-row items-center flex-wrap justify-between gap-4 border border-red py-4">
        <ul>
            <li>
                
            </li>
        </ul>
    </nav>
</footer>