---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Not Found">
	<main class="container mx-auto px-2 flex justify-center my-[50px]">
        <p>Désolé, cette page n'existe pas.</p>

	</main>
</Layout>