---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Not Found">
	<main class="container mx-auto px-2 flex flex-col justify-center gap-4 items-center my-[50px]">
        <h2 class="font-extrabold uppercase text-[10rem] text-gray-500">404</h2>
        <p>Désolé, cette page n'existe pas.</p>

	</main>
</Layout>