---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="My main page">
	<main class="container px-2 flex justify-center mt-[50px]">
		<Card
			href="https://astro.build/chat/"
			title="Card"
			body="My card"
		/>
	</main>

</Layout>

<script>
	let cards = document.querySelectorAll("[data-card]");
	console.log(cards);
	cards.forEach(card => {
		card.addEventListener('click', () => {
			alert('card');
		})
	})
</script>

<style></style>
