---
import Layout from "../layouts/Layout.astro";
import fetchApi from "../../lib/strapi";
import type Project from "../interfaces/project";

const projects = await fetchApi<Project[]>({
	endpoint: "projects",
	wrappedByKey: "data",
});

---

<Layout title="My main page">
	<main class="container mx-auto px-2 flex justify-center my-[50px]">
		{projects && projects.length > 0 && (
			<ul>
				{projects.map((project) => (
					<li>
						<a href={`/projects/${project.attributes.slug}/`}>
							{project.attributes.name}
						</a>
					</li>
				))}
			</ul>)
		}
	</main>
</Layout>