---
import Layout from "@layouts/Layout.astro";
import type Project from "@interfaces/project";
import  {schema as projectSchema} from "@interfaces/project";
import Sections from "@components/details/Sections";

const { slug } = Astro.params;

let project: Project;

try {
	const query = {
		method: "POST",
		headers: { "Content-Type": "application/json" },
		body: JSON.stringify({
			query: `query GetProjectBySlugQuery($slug: String!) {
				project(where: {slug: $slug}) {
					${projectSchema()}
				}
			}`,
            variables: { slug }
		}),
	};

	const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query);
	const json = await response.json();

	project = json.data.project;

	if (!project) throw new Error("404 - Not Found");

} catch (error) {
	return Astro.redirect("/404");
}
---

<Layout title="My main page">
    <div>
        <a href="/projects" transition:name={`back`} transition:animate={`slide`}>&larr; Back</a>
        
        {project.image && <img
            class="w-full mb-[50px]"
            src={project.image.url}
            alt="A description of my image."
            transition:name={`image-${project.id}`}
            transition:animate="none"
        />}

        { project && (
                <Sections
                    project={project}
                    client:load
                />
            )
        }
    </div>
</Layout>
