---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import fetchApi from "../../../lib/strapi";
import type Project from "../../interfaces/project";

const { slug } = Astro.params;

let project: Project;

try {
	project = await fetchApi<Project>({
		endpoint: "projects",
		wrappedByKey: "data",
		wrappedByList: true,
		query: {
			"filters[slug][$eq]": slug || "",
		}
	});

	if(!project) throw new Error('404 - Not Found');

} catch (error) {
	return Astro.redirect("/404");
}

---

<Layout title="My main page">
	<main class="container mx-auto px-2 flex justify-center my-[50px]">
		{project && <Card
			href={`/projects/${project.attributes.slug}`}
			title={project.attributes.name}
			body={project.attributes.description}
		/> }

	</main>
</Layout>
