@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Font Sans */

    @font-face {
        font-family: 'Aeo';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Aeonik-Regular.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Aeo';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Aeonik-RegularItalic.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Aeo';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/Aeonik-Medium.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Aeo';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url('/fonts/Aeonik-MediumItalic.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Aeo';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/Aeonik-Bold.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Coa';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url('/fonts/Coanda-Thin.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Coa';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/fonts/Coanda-Light.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Coa';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/fonts/Coanda-Regular.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Coa';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/fonts/Coanda-Bold.woff2') format('woff2');
      }

    @font-face {
        font-family: 'Coa';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url('/fonts/Coanda-Black.woff2') format('woff2');
      }


  }


@layer components {

  .boxed {
    @apply container mx-auto
 }

 .header--type-home {
  @apply z-[9999];
 } 

.header--type-projects {
     @apply z-50  md:!fixed flex flex-col md:flex-row items-center justify-center h-auto md:h-0 top-0 md:top-1/2  translate-y-0 md:-translate-y-1/2
 }
 
 .header--type-projects > nav {
     @apply w-full
 } 

 .header--type-project {
  @apply hidden
 } 

}
