---
import '../app.css'
import '../view-transitions.css'
import DebugButton from '@components/DebugButton'
import FooterComponent from "@components/layouts/FooterComponent";

interface Props {
	title: string;
}

enum HeaderType {
    "Projects" = "projects",
    "Project" = "project",
    "Home" = "home",
}

const links = [
	{ href: "/projects", label: "work" },
	{ href: "/about", label: "contact" },
	{ href: "/cv", label: "CV" },
];

const { title } = Astro.props;
const currentPath = Astro.url.pathname;

const type = ((page) => {
	if (/^\/?projects$/g.test(page)) return HeaderType.Projects;
	if (/^\/?projects\/(.*?)/g.test(page)) return HeaderType.Project;
	return HeaderType.Home;

})(currentPath);

---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="../../scripts/navigation.js"></script>
		
	</head>
	<body>
        <div id="wrapper" class="wrapper min-h-screen h-screen flex flex-col">
			<header class="header w-full relative z-30"
				class:list={[
					{'header--type-projects': type == HeaderType.Projects},
					{'header--type-project': type == HeaderType.Project},
					{'header--type-home': type == HeaderType.Home}
				]}
			>
				<nav
					class="flex flex-row items-center flex-wrap justify-between gap-4 p-4"
					class:list={[{boxed : type !== HeaderType.Project}]}>
					
					<div
						class="flex-1 will-change-transform with-transition"
						class:list={[{'-translate-x-[500px]': type == HeaderType.Project}]}
						data-transition-name="main-nav-logo"
					>

						<a href="/">
							<h1 class="font-sans uppercase text-lg">ST.ST <small class="font-serif lowercase text-base">Designs</small>,</h1>
						</a>

					</div>
					<div class="flex-[3]"></div>
					<ul
						class="flex-1 flex flex-row justify-end items-center gap-4 will-change-transform with-transition"
						class:list={[{'translate-x-[500px]': type == HeaderType.Project}]}
						data-transition-name="main-nav-links"
					>
						{
							links.map((link) => (
								<li>
									<a class="font-sans uppercase text-sm" href={link.href}>{link.label}</a>
								</li>
							))
						}
					</ul>
				</nav>
			</header>

		
            <main class="flex-1 relative with-transition">
                <slot />
            </main>

            <FooterComponent client:only="react">
				<p class="text-xs ">©2024 Stéphane Stadler</p class="text-sm">
			</FooterComponent>

        </div>
		
		<DebugButton client:only="react">

	</body>
</html>

<style is:global>
   

</style>
